<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xdzn.oj.service.user.infrastructure.dao.DiscussionCommentDao">

    <resultMap id="BaseResultMap" type="cn.xdzn.oj.service.user.domain.discussion.entity.po.DiscussionComment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="did" column="did" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="fromUid" column="from_uid" jdbcType="VARCHAR"/>
            <result property="fromName" column="from_name" jdbcType="VARCHAR"/>
            <result property="fromAvatar" column="from_avatar" jdbcType="VARCHAR"/>
            <result property="fromRole" column="from_role" jdbcType="VARCHAR"/>
            <result property="likeNum" column="like_num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,did,content,
        from_uid,from_name,from_avatar,
        from_role,like_num,status,
        gmt_create,gmt_modified,create_by,
        update_by,is_deleted
    </sql>
</mapper>
