<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xdzn.oj.service.problem.infrastructure.dao.TrainingProblemDao">

    <resultMap id="BaseResultMap" type="cn.xdzn.oj.service.problem.domain.Training.entity.po.TrainingProblem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tid" column="tid" jdbcType="BIGINT"/>
            <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="rank" column="rank" jdbcType="INTEGER"/>
            <result property="displayId" column="display_id" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tid,pid,
        rank,display_id,gmt_create,
        gmt_modified,create_by,update_by,
        is_deleted
    </sql>
    <insert id="addProblem">
        insert into training_problem (tid,pid,display_id)
        values (#{tid},#{pid},#{displayId})
    </insert>
    <select id="getProblemNum" resultType="cn.xdzn.oj.service.problem.domain.Training.entity.vo.TrainingNumVO">
        select tid,count(pid) as problemNum from training_problem group by tid
    </select>
    <select id="getProblemIds" resultType="java.lang.Integer">
        select pid from training_problem where tid = #{tid} and is_deleted = 0 order by rank
    </select>

</mapper>
